*{
    margin: 0px;
    padding: 0px;
}

#box{
    height: 20vh;
    width: 100%;
    background-color: rgb(102, 19, 180);
    color: white;
    
}
#imgbox img{
    height: 107px;
    width: 108px;
    border: 8px solid green;
    border-radius: 66px;
   margin: -18px 0px 0px 0px;
}
#box h1{
    text-align: center;
    padding-top: 43px;
}
#box1{
    text-align: center;
}
#box1 button{
    background-color: black;
    color: white;
    margin: 0px 0px 0px 18px;
    height: 28px;
    width: 99px;
    border-radius: 10px;
}

#todo-item{
    height:30px;
    width:48%;
    margin:50px auto;
    border: 2px solid green;
    border-radius: 20px;
}
#box1 input{
    text-align: center;
    font-size: 20px;
}

#list{
  text-align: center; 
   font-size: 20px;
}


#list li{
    width:45%;
    border: 2px solid rgb(3, 170, 3);
    border-radius: 10px;
    align-items: center;
     text-align: center;
     align-content: center;
     margin: 15px 15px 15px 260px;
     list-style: none;
}
#list li button{
 height:27px;
 width:51px;
 margin:2px 2px 2px 2px;
 background-color: black;
 color: white;
}